PORT=3000

# SMTP (Gmail)
SMTP_HOST=smtp.tutamail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=nens12retry@tutamail.com
SMTP_PASS=qGA;^DsH5Qf%;Gf

# Куда отправлять заявки
RECIPIENT_EMAIL=iva170930@gmail.com
